body {
    background-color: #222;
    color: white;
}
img#major {
    float: left;
    width: 30%;
}
img#horseback_logo {
    float: right;
    width: 20%;
}
#horseback_logo_container {
    margin: 1px;
    display: inline-;
}
span#horseback {
    color: #222;
    background-color: lightcyan;
}
.contentWrapper::after {
    content: '';
    display: block;
    clear: both;
}

.next {
    background-color: mintcream;
    color: black;
    font-weight: bold;
}
/*
mark {
  color: #222;
  background: #f7941e;
}
li {
  color: rgba(255, 255, 255, 1);
}

.container {
  width: 88%;
  color: white;
  /* background-color: aliceblue; */ /*
  margin: 0 auto;
  border: 1px solid #f7941e;
  padding: 40px;
  border-radius: 20px;
  margin: 60px;
}
#contentWrapper {
  max-width: 430px;

  margin: 0 auto;
}
p {
  font-size: 20px;
  font-weight: 700;
}
b {
  color: #f7941e;
}
h3 {
  text-align: center;
}
.noDot {
  list-style: none;
  padding-top: 300px;
}
*/
