body {
    width: 100vw; /* Viewport의 너비 */
    height: 100vh; /* Viewport의 높이 */
    margin: 0; /* 외부 여백 제거 */
    padding: 0; /* 내부 여백 제거 */
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

div {
    color: white;
}

body {
    background-image: url('horeseriding.jpg'); /* 배경 이미지 경로 */
    background-size: cover; /* 이미지를 화면에 꽉 차도록 크기 조절 */
    background-position: center; /* 이미지를 가운데 정렬 */
    background-repeat: no-repeat; /* 이미지 반복 방지 */
}
