{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{%static 'base.css'%}" />
        {%block css%}{%endblock css%}
        <title>{%block title%}{%endblock title%}</title>
    </head>
    <body>
        <div id="body-container">
            {%block content%} {%endblock content%}
            <form action="" method="post">
                {%csrf_token%}
                <div id="comment-container">
                    <input name="writer" type="text" placeholder="작성자 이름" />
                    <textarea name="content" cols="30" rows="3" placeholder="여기에 댓글을 작성하세요"></textarea>
                    <button type="submit">댓글 올리기</button>
                </div>
            </form>
            <div class="comments-container">{%block comments%}{%endblock comments%}</div>
            <a href="{% url 'list' %}">list 페이지로 돌아가기</a>
        </div>
    </body>
</html>
