{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{%static 'base.css'%}" />
        {%block css%}{%endblock css%}
        <title>{%block title%}{%endblock title%}</title>
    </head>
    <body>
        <div id="body-container">
            {%block content%} {%endblock content%}

            <div class="comments-container">{%block comments%}{%endblock comments%}</div>
            <a href="{% url 'list' %}">list 페이지로 돌아가기</a>
        </div>
    </body>
</html>
