{%extends 'base.html'%} {%block title%}Programming {{ article.pk }}{%endblock title%} {%block css%} {%load static%}
<link rel="stylesheet" href="{%static 'programming.css' %}" />
{%endblock css%} {%block content%}
<h2>제목</h2>
<p>{{article.title}}</p>
<h4>처음 작성된 시각</h4>
<p>{{article.created_at}}</p>
<h4>마지막으로 수정된 시각</h4>
<p>{{article.updated_at}}</p>
<h3>본문</h3>
<p>{{article.content}}</p>
{%endblock content%} {%block comment%}
<table>
    <tr>
        <td>
            <div>작성자: {{comment.writer}}</div>
            <div>댓글: {{comment.content}}</div>
            <div>
                <form action="" method="post">
                    <input type="text" name="writer" placeholder="writer" />
                    <textarea name="content" cols="30" rows="2"></textarea>
                </form>
            </div>
        </td>
    </tr>
</table>
{%endblock%}
