{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{%static 'list.css'%}" />
        <title>Article List</title>
    </head>
    <body>
        <h2>글 전체 갯수 : {{whole_count}}</h2>
        <h2>글 목록</h2>
        <ul>
            {%for i in hobbies%}
            <li><a href="{%url 'hobby' i.pk%}">{{i.title}}</a></li>
            {%endfor%}
        </ul>
        <h2>카테고리</h2>
        <ul>
            <li><a href="{%url 'hobbies' %}">취미</a> :: {{hobbies_count}}개</li>
            <li><a href="{%url 'foods' %}">음식</a> :: {{foods_count}}개</li>
            <li><a href="{%url 'programmings' %}">프로그래밍</a> :: {{programmings_count}}개</li>
        </ul>
        <a href="{% url 'new' %}">글쓰러 가기</a>
    </body>
</html>
