{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{% static '/new.css' %}?v=1" />
        <title>New Article</title>
    </head>
    <body>
        <h2>글쓰기 페이지</h2>
        <form action="{% url 'new' %}" method="Post">
            {% csrf_token %}
            <div>
                <div>카테고리</div>
                <select name="category">
                    <option value="Hobby">취미</option>
                    <option value="Food">음식</option>
                    <option value="Programming">프로그래밍</option>
                </select>
                <div>글 제목</div>
                <input type="text" name="title" />
            </div>
            <div>
                <div>글내용</div>
                <textarea name="content" cols="30" rows="10"></textarea>
            </div>
            <button type="submit">작성 완료</button>
        </form>
    </body>
</html>
